
/* GERAL */
* {
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: #E5E5E5;
    padding-bottom: 120px;
    overflow-x: hidden;
}
h1,
h2 {
    font-family: 'Righteous', cursive;
    margin-left: 20px;
}
h2 {
    font-size: 26px;
}
strong {
    font-weight: bold;
}

/*------------------- TOPO  -------------------------*/

header {
    z-index: 3;
    position: fixed;
    width: 100vw;
    height: 92px;
    background: rgb(207, 43, 43);
    color: white;
    box-shadow: 2px 0 4px 4px rgb(0, 0, 0, 0.3);
    padding-top: 10px;
    left: 0;
    top: 0;
}
header h1 {
    font-size: 44px;
}
header p {
    font-size: 14px;
    margin-left: 20px;
}

/*------------------- CONTEÚDO  -------------------------*/


main {
    margin-top: 120px;
}
main > div {
    margin-top: 20px;
}
.opcoes {
    display: flex;
    overflow: scroll;
    margin-top: 10px;
}
.opcoes::-webkit-scrollbar {
    display: none;
}
.opcoes li {
    background-color: white;
    width: 172px;
    min-height: 200px;
    border-radius: 8px;
    margin-left: 20px;
    box-shadow: 1px 1px 10px -4px rgba(0, 0, 0, 0.4);
    position: relative;
}
ion-icon {
    color: rgba(50, 183, 47, 1);
    position: absolute;
    bottom: 10px;
    right: 10px;   
}
li > div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 4px;
}
li div p:last-child span {
    margin: 6px;
    font-size: 20px;
    z-index: 3;
    cursor: pointer;
}

.escondido {
    display: none;
}
.opcoes li:last-child {
    margin-right: 20px;
}
.opcoes p {
    font-size: 16px;
    margin-left: 10px;
    margin-top: 9px;
}
.selected {
    border: solid 4px rgba(50, 183, 47, 1);
}
.disabled {
    border: none;
}
img {
    box-sizing: content-box;   
    width: 144px;
    border-radius: 4px;
    margin: 15px 10px 0 10px;
    height: 80px;
    object-fit: cover;
}
.descricao-pedido {
    color: rgb(182, 179, 179);
    font-size: 14px !important;
    font-weight: 300;
}

/*------------------- BOTÃO CONFIRMAR PEDIDO  -------------------------*/

footer {
    width: 100vw;
    height: 90px;
    position: fixed;
    right: 0;
    bottom: 0;
    height: 90px;
    background-color: white;
    display: flex;
    z-index: 3;
}
.botao-confirmar {
    height: 80%;
    width: 80%;
    margin: auto auto;
    color: white;
    background-color: rgb(203, 203, 203);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.botao-confirmar p {
    text-align: center;
    display: inline-block;
    font-size: 20px;
    width: 200px;
    letter-spacing: 1.8%;
    user-select: none;
}
.liberar-confirmacao {
    background-color: rgba(50, 183, 47, 1);
}
.liberar-confirmacao p {
    font-weight: bold;
}

/*------------------- TELA DE CONFIRMAR PEDIDO  -------------------------*/
.revisao {
    margin-top: 133px;
    margin-bottom: 33px;
}
.confirmar-pedido {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.confirmar-pedido > div {
    margin-bottom: 33px;
}
.container-confirmar-infos {
    margin: 20px;
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 25px 25px 12px 25px;
    font-size: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.15);
}
.container-confirmar-infos div {
    width: 100%;
    display: flex;
    margin-bottom: 13px;
    justify-content: space-between;
}
.centro {
    margin: auto;
}

.botao-tudo-certo {
    color: white;
    background-color: rgb(80, 208, 116);
    width: 90%;
    height: 50px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 20px
}
.cancelar {
    margin-top: 10px;
    color: #777777;
    font-size: 20px;
}
.red {
    color: red
}
.green {
    color: rgb(80, 208, 116);
}
.white {
    color: white;
}